<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shaop.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.shaop.entity.User" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="age" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, age
  </sql>
  <select id="getUserList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from g_user
  </select>
  <select id="getUser" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from g_user
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.shaop.entity.User" >
    insert into g_user (id, name, age
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}
      )
  </insert>
</mapper>